{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link href="/dist/css/weui.min.css" rel="stylesheet" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/Controls/B_User.js"></script>
<style>
.video_banner h2, .con_banner h2 { top:80%; font-size:18px;}
</style>
</head>
<body class="home_body">
<div class="hidden-xs">
{ZL.Label id="全站头部"/}
</div>
{ZL.Label id="微信端头部"/}

<div class="container-fulid con_banner">
<h2>刻骨铭心的爱源自微不足道的细节……</h2>
</div>
<!--banner结束-->

<div class="container margin_top20">
<div class="mySites hidden-xs">
<ol class="breadcrumb" >
<li><a href="/">首页</a><span class="divider"></span></li>
{ZL.Label id="输出多级节点导航_V3" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="30" /}
<li class="active">栏目列表</li>
</ol>
</div>

<div class="con_search hidden-xs">
<form action="/Class_15/Default.aspx" method="get" onsubmit="return validateForm();">
<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>寻找类型</span></div>
<div class="media-body">
<select class="form-control" name="node">
<option value="">请选择类型</option>
<option value="2">家寻亲人</option>
<option value="3">亲人寻家</option>
<option value="18">爱心拍客</option>
<option value="1">其它寻人</option>
<option value="5">海外寻亲</option>
<option value="28">紧急寻人</option>
</select>
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>性别</span></div>
<div class="media-body">
<select class="form-control" name="sex">
<option value="">请选择性别</option>
<option value="男">男</option>
<option value="女">女</option>
</select>
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>标题</span></div>
<div class="media-body">
<input type="text" class="form-control" name="t" placeholder="请输入标题关键字，如姓名" value="{$GetUrldecode({$GetRequest(t)$})$}" />
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>特征</span></div>
<div class="media-body">
<input type="text" class="form-control" name="z" placeholder="请输入特征关键字，如瘦小" value="{$GetUrldecode({$GetRequest(z)$})$}" />
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>失踪开始时间</span></div>
<div class="media-body">
<input type="text" class="form-control" id="ssdate" name="ssdate" placeholder="请输入失踪开始时间" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'sedate\')}',dateFmt: 'yyyy-MM-dd HH:mm:ss'})" value="{$GetUrldecode({$GetRequest(ssdate)$})$}" />
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>失踪结束时间</span></div>
<div class="media-body">
<input type="text" class="form-control" id="sedate" name="sedate" placeholder="请输入失踪结束时间" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'ssdate\')}',dateFmt: 'yyyy-MM-dd HH:mm:ss'})" value="{$GetUrldecode({$GetRequest(sedate)$})$}" />
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>出生开始时间</span></div>
<div class="media-body">
<input type="text" class="form-control" id="csdate" name="csdate" placeholder="请输入出生开始时间" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'cedate\')}',dateFmt: 'yyyy-MM-dd HH:mm:ss'})" value="{$GetUrldecode({$GetRequest(csdate)$})$}" />
</div>
</div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 com-xs-12">
<div class="media">
<div class="media-left media-middle"><span>出生结束时间</span></div>
<div class="media-body">
<input type="text" class="form-control" id="cedate" name="cedate" placeholder="请输入出生结束时间" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'csdate\')}',dateFmt: 'yyyy-MM-dd HH:mm:ss'})" value="{$GetUrldecode({$GetRequest(cedate)$})$}" />
</div>
</div>
</div>

</div>

<div class="con_search_b">
<button type="submit" class="btn btn-danger"><i class="fa fa-search"></i> 搜索</button>
</div>
</form>
</div>

<div>
{ZL.Label id="输出海外寻亲列表_分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" ShowNum="20" TitleNum="30" SysNum="200" ClassName="col-lg-3 col-md-3 col-sm-3 col-xs-6 padding10" sex="{$GetUrldecode({$GetRequest(sex)$})$}" Title="{$GetUrldecode({$GetRequest(t)$})$}" qttz="{$GetUrldecode({$GetRequest(z)$})$}" ssdate="{$GetUrldecode({$GetRequest(ssdate)$})$}" sedate="{$GetUrldecode({$GetRequest(sedate)$})$}" csdate="{$GetUrldecode({$GetRequest(csdate)$})$}" cedate="{$GetUrldecode({$GetRequest(cedate)$})$}" /}
</div>
</div>
<div class="height80"></div>
<div class="hidden-xs">
{ZL.Label id="全站底部"/}
</div>
{ZL.Label id="微信弹出菜单"/}
</body>
</html>
<script>
//---------------------手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});
//微信弹出菜单效果
$(function(){
	//menu float
	var menufloatclicknumber=0;
	function menufloatin(){
		$(".menu-c").removeClass("out");
		$("#menufloat").addClass("show")
		$(".mask_menu").fadeIn();
		$("#menufloat-c").show();
		$(".menu-c-inner").removeClass("outer");
		$(".menu-c-inner").addClass("in")
		$(".menu-c-inner a").show();
		menufloatclicknumber=1;
	}
	function menufloatout(){
		$("#menufloat").removeClass("show")
		$(".mask_menu").fadeOut();
		$(".menu-c-inner").removeClass("in")
		$(".menu-c-inner").addClass("outer")
		$(".menu-c-inner a").hide();
		$(".menu-c").addClass("out");
		menufloatclicknumber=0;		
	}	   
	$("#menufloat").click(function(){
		if(menufloatclicknumber==0){ menufloatin(); }
		else { menufloatout();}			 	
	})
	$(".mask_menu").click(function(){
		menufloatout(); 
	})
});
$().ready(function(e) {
    var node='{$GetRequest(node)$}';
	var sex='{$GetUrldecode({$GetRequest(sex)$})$}';
	var city='{$GetUrldecode({$GetRequest(j)$})$}'
	$("select[name='node']").val(node);
	$("select[name='sex']").val(sex);
	$("select[name='j']").val(city);
});
function iSearch(){
	if($(".home_search").is(":hidden")){
		$(".home_search").fadeIn(250);
	}else{
		$(".home_search").fadeOut(250);
	}
};
function validateForm(){
	var val=$("select[name='node'] option:selected").val();
	if(val==''){
		alert("请选择寻找类型！");
		return false;
	}
	else{
		var str="/Class_"+val+"/Default.aspx"
		$(".con_search form").attr("action",str);
		return true;
	}
}
var buser = new B_User();//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$(".home_nav .navbar-right .dropdown-menu li:nth-child(3) a").html("欢迎您，"+data.UserName+"！");
		$(".home_nav .navbar-right .dropdown-menu li:nth-child(3)").show();
		$(".home_nav .navbar-right .dropdown-menu li:nth-child(4)").show();
		$(".home_nav .navbar-right .dropdown-menu li:nth-child(1)").remove();
		$(".home_nav .navbar-right .dropdown-menu li:nth-child(1)").remove();
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}
$(".home_nav .navbar-nav li").mouseover(function(){
	$(this).addClass("open");
}).mouseout(function(){
	$(this).removeClass("open");
})
</script>